/* ./src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.tech-item{
    background: none !important;
    border: none !important;
    outline: none !important;
}

.button-contact {
    border: none !important;
    outline: none !important;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}