/* ./src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.tech-item{
    background: none !important;
    border: none !important;
    outline: none !important;
}

.button-contact {
    border: none !important;
    outline: none !important;
}